@charset "utf-8";
@import "./mixin.scss";
.lnb_set li{
  a::before{@include shape(22px,22px);background:url(../images/set_menu.png) 0 no-repeat;}
  :is(&:hover, &.on) > a::before{background-image:url(../images/set_menu_on.png);}
  @for $i from 1 through 4{
    &:nth-child(#{$i}) > a::before{background-position-y:(($i - 1) * - 32px);}
  }
}
.tit .tool{
  button{@include btnType(S);}
}
.user_admin,
.dest_admin{
  .tbl_wrap{--h:calc(100vh - 275px); min-height:513px;}
}
.cmmn_code{
  .tbl_wrap{--h:calc(100vh - 209px); min-height:590px;}  
}
.disaster_code{
  .tbl_wrap{--h:calc(100vh - 209px); min-height:590px;}
  .vertical .tbl_wrap{--h:calc(50vh - 135px); min-height:265px;}
}
.pop_codeAdmin .dl_list{grid-template-columns:120px 1fr;}
.pop_destAdmin{
  .column2 dt{@include marginL(even);}
} 